In [76]:
 # Dependencies
import requests
import pandas as pd
# from config import api_key
import time

url = "https://api.nytimes.com/svc/archive/v1"

# Search for articles published between a begin and end date
year = "2016"
month = 1
api_key = "qas7Kk3NQyFoaLqK2pTZxN1IdMBtzG4a"

# https://api.nytimes.com/svc/archive/v1/2019/1.json?api-key=qas7Kk3NQyFoaLqK2pTZxN1IdMBtzG4a

query_url = f"{url}/{year}/{month}.json?api-key={api_key}"

In [77]:
articles = requests.get(query_url).json()

In [78]:
articles['response']['docs'][0]

{'web_url': 'https://www.nytimes.com/slideshow/2016/01/01/nytnow/the-week-on-instagram.html',
 'snippet': 'Photos posted on @nytimes during the last week of 2015 took followers from an island in Antarctica to Times Square, before the ball dropped....',
 'lead_paragraph': 'Photos posted on @nytimes during the last week of 2015 took followers from an island in Antarctica to Times Square, before the ball dropped.',
 'abstract': None,
 'print_page': None,
 'blog': [],
 'source': 'The New York Times',
 'multimedia': [{'width': 190,
   'url': 'images/2016/01/01/nytnow/the-week-on-instagram-slide-8Y3Z/the-week-on-instagram-slide-8Y3Z-thumbWide.jpg',
   'height': 126,
   'subtype': 'wide',
   'legacy': {'wide': 'images/2016/01/01/nytnow/the-week-on-instagram-slide-8Y3Z/the-week-on-instagram-slide-8Y3Z-thumbWide.jpg',
    'wideheight': '126',
    'widewidth': '190'},
   'type': 'image'},
  {'width': 600,
   'url': 'images/2016/01/01/nytnow/the-week-on-instagram-slide-8Y3Z/the-week-on-instagram-slide-8Y3Z-articleLarge.jpg',
   'height': 600,
   'subtype': 'xlarge',
   'legacy': {'xlargewidth': '600',
    'xlarge': 'images/2016/01/01/nytnow/the-week-on-instagram-slide-8Y3Z/the-week-on-instagram-slide-8Y3Z-articleLarge.jpg',
    'xlargeheight': '600'},
   'type': 'image'},
  {'width': 75,
   'url': 'images/2016/01/01/nytnow/the-week-on-instagram-slide-8Y3Z/the-week-on-instagram-slide-8Y3Z-thumbStandard.jpg',
   'height': 75,
   'subtype': 'thumbnail',
   'legacy': {'thumbnailheight': '75',
    'thumbnail': 'images/2016/01/01/nytnow/the-week-on-instagram-slide-8Y3Z/the-week-on-instagram-slide-8Y3Z-thumbStandard.jpg',
    'thumbnailwidth': '75'},
   'type': 'image'}],
 'headline': {'main': 'The Week on Instagram'},
 'keywords': [],
 'pub_date': '2016-01-01T00:00:00Z',
 'document_type': 'multimedia',
 'news_desk': 'NYT Now',
 'section_name': 'NYT Now',
 'subsection_name': None,
 'byline': [],
 'type_of_material': 'Slideshow',
 '_id': '5687cefb38f0d82225327003',
 'word_count': '24',
 'slideshow_credits': 'Ben C. Solomon/The New York Times'}

In [79]:
list_items = []
for item in range(len(articles['response']['docs'])):

    headline = articles['response']['docs'][item]['headline']['main']
    section = articles['response']['docs'][item]['section_name']
    date = articles['response']['docs'][item]['pub_date']
    word_count = articles['response']['docs'][item]['word_count']
    record = {
        'headline': headline,
        'section': section,
        'date': date,
        'word_count': word_count
    }
    list_items.append(record)

In [80]:
headlinedf = pd.DataFrame(list_items)


len(headlinedf)

7644

In [81]:
headlinedf.head()

,date,headline,section,word_count
0,2016-01-01T00:00:00Z,The Week on Instagram,NYT Now,24
1,2016-01-01T22:00:56Z,Mass Master,Crosswords & Games,618
2,2016-01-01T21:17:09Z,Friday Night Music: More Wild Reeds,Opinion,13
3,2016-01-01T00:00:00Z,Our Favorite Styles Photos of 2015,Fashion & Style,58
4,2016-01-01T19:10:36Z,Wishes for the New Year,N.Y. / Region,16

In [82]:
headlinedf['section'].value_counts()

U.S.                          997
Paid Death Notices            825
Sports                        693
World                         691
Opinion                       652
Arts                          596
Business Day                  559
N.Y. / Region                 464
Fashion & Style               315
Books                         167
Movies                        163
T Magazine                    141
Technology                    134
Real Estate                   117
Health                         91
Travel                         90
NYT Now                        88
Theater                        84
Food                           84
Education                      83
Magazine                       79
Science                        69
Blogs                          69
The Upshot                     62
Universal                      61
Crosswords & Games             41
Multimedia/Photos              40
Corrections                    36
Your Money                     35
Obituaries                     28
Todayâ€™s Paper                  26
Times Insider                  18
Automobiles                    13
Style                          12
Job Market                      8
Times Topics                    4
Sunday Review                   3
Multimedia                      2
Great Homes & Destinations      2
membercenter                    1
Public Editor                   1
Name: section, dtype: int64

In [83]:
headlinedf = headlinedf[headlinedf['section'] != 'Opinion']

In [84]:
headlinedf = headlinedf[headlinedf['section'] != 'Blogs']

In [85]:
len(headlinedf)

6923

In [86]:
headlinedf.to_csv('fake_news_v2.csv')